<%= form_for(:comment, url: post_comments_path(post)) do |f| %>
  <div class="row">
    <div class="col-md-1">
      <%= render 'sharred/user_avatar', object: current_user %>
    </div>
    <div class="col">
      <%= f.text_area :comment, placeholder: "post your comment!", class: "form-control mb-3", id: "autoresize" %>
    </div>
  </div>
  <%= f.submit "Reply", class: "btn btn-primary rounded-pill", style: "float:right"%>
<% end %>